.main-content{
  flex: 1;
  /* push the footer down, keeping it always after all content. */
  padding-bottom: 60px;
  overflow-x: hidden;
}

.top-offerBanner{
  position:fixed;
  top: 0;
  left:0;
  right:0;
  z-index: 1100;
  background-color: #0e0e0e;
  height:25px;
  padding:5px;
  /* border: 1px solid #ed2828; */
}
.bannerView{
   margin: 0;
   font-size: 14px;
   font-weight: 700;
   color:#fff;
   text-align: center;
}

.prevArrow{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      background: none;
      color: white;
      cursor: pointer;
      outline: none !important;
      border:none;
  
}

.nextArrow{
  position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      background:none;
      color: white;
      cursor: pointer;
      outline: none !important;
      border:none;

}

.tab-nav {
  position: fixed;
  top: 35px;
  left: 0;
  right: 0;
  background: rgb(121, 86, 121);
  padding:2px 24px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 5px solid #f03013 */
}

/* wrapper for nav links row*/
.tab-nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;  
  
}

.tab-logo{
  /* border:1px solid #ede8e8; */
  /* padding: 1px; */
  color: #1e1c1c;

  
}
.nav-logo {
  color: #fff;
  font-size: 2px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: inherit;
  

}

.logo-img {
  height: 45px;   
  cursor: pointer;
  border-radius: 50rem;
  border:5px solid #090707;

}



/* keep left links inline */
.tab-left {
  display: flex;
  gap: 12px;
  margin :0  auto;
  margin-left: 2rem;
  justify-content:center; /* keeps them in center */
  flex-wrap: wrap;
  /* border:1px solid #d91111; */

  /* flex: 1;  */
}

/* aligned logout right */
.tab-right {
  position:absolute;/*taken out of center flow */
  display: flex;
  align-items: center;
  right: 24px;
  gap: 30px;
  /* border:1px solid #fff; */

}

.logout-btn {
  font-weight: bold;
  color: #ffcccc;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}



.tab-link {
  text-decoration: none;
  color: #0d0d0d;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 6px;
  /* flex: 1; */
  /* text-align: center; */
}

.tab-link.active {
  background-color: #5c93c9;
  color: white;
}

.tab-content {
  margin-top: 108px;
  padding-top: 0px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;  

}

.tab-link:hover {
  color: rgb(239, 174, 9);
} 

.tab-boxContent {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.tab-page:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: rgb(177, 78, 78);
  background-color: rgb(180, 208, 245);
}
   

.nav-header {
  display: flex;
  flex-direction: row;
  color: rgb(6, 6, 6);
  font-size: 24px;
  /* font-weight: bold; */
  /* margin:15px; */
  margin-bottom: 5px;
  /* padding-top: 17px; */
  /* padding: 5px; */
  gap: 10px;
  /* border: 1px solid; */
  height: 4rem;
  align-items: center;  
}

.nav-header:visited,
.nav-header:hover,
.nav-header:active {
  color: inherit; 
  text-decoration: none;
}


/* .footer {
  text-align: center;
  padding: 16px;
  background: rgb(196, 175, 196); 
  color: #080808;
  position: relative; 
  left: 0;
  bottom: 0;
  right:0
   width: 100%; 
  font-size: 14px; 

} */

.footer {
  text-align: center;
  padding: 16px;
  background: rgb(121, 86, 121);
  color: #080808;
  /* position: fixed;  */
  left: 0;
  bottom: 0;
  right:0;
  /* width: 100%;  */
  font-size: 15px; 
  max-width: 2500px;

}


.footer-container{
    margin: -2.05rem;
    /* padding: 30px; */
}

.body-contentNewLaunch {
  margin-top: -7rem;
  padding-top: 0px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;  

}


 /* Container for product cards */
.product-alignment {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 5rem;

}
.wishlist-icon {
  display: flex;
  justify-content: right; 
  cursor: pointer; 
}


/* Individual product card */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  min-height: 290px; /* consistent height */
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #efebef;
}

/* Product image */
.product-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

/* Title */
.product-card h4 {
  font-size: 14px;
  margin: 15px 0;
  flex-grow: 1; /* push button to bottom if title is short */
}

/* Price */
.product-card p {
  margin: 8px 0;
  font-size: 16px;
  color:chocolate;
}

/* Button */
.product-card button {
  margin: 8px;
  padding: 10px 10px;
  background-color:  rgb(93, 45, 106) ;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: rgb(121, 86, 121);
}


/* CartPage */
.cart-container {
  display: flex;
  flex-wrap:wrap;
  gap: 5px;
  justify-content: center; 
  padding: 30px;
  width: 97%;
  /* border: 1px solid #080808;  */
  /* background-color: #5c93c9; */
  /* border-radius: 4px; */


}

.cart-item {
  width: 100vh;
  height: 100px;
  padding: 15px;
  border: 2px solid #ccc;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fcfafa;
  border: 1px solid #080808; 
  

}

.cart-item img {
  float: left;
  width: 70px;
  height: 70px;
  padding: 6px;
  object-fit: contain;
  border: 1px solid #6c2063; 


}
.cart-item p{
  float: left;
  width: 290px;
  height: 100px;
  padding-left: 50px;
}


.total-Amount {
  font-size: 20px;
  margin: 10px 0;
  color:chocolate;

}

.cart-item a {
  padding: 6px 15px;
  background-color: rgb(134, 129, 135);
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

/* .cart-quantity {
  display: flex;
  align-items: center;
  gap: 4px;
} */


/* CartSliderPage */

/* CartPage */
.cartSlider-container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* gap: 3px; */
  justify-content: flex-start; 
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 600px;
  /* scroll-behavior: smooth;  */
  padding: 10px 0;
  /* border: 1px solid #080808;  */
  /* background-color: #5c93c9;
  /* border-radius: 4px; */


}

/* .cartSlider-item {
  display: flex;
  align-items: center;   
  justify-content: space-between; 
  gap: 12px;            
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fcfafa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
} */

.cartSlider-item {
  display: grid;
  grid-template-columns: 60px 1fr auto; 
  gap: 12px;
  /* align-items: flex-start; */
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-left: none;

  border-bottom: 1px solid #ccc;
  background-color: #fcfafa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.cartSlider-item img {
  width: 60px;
  height: 68px;
  object-fit: contain;
  border: 1px solid #dacdd9;
  border-radius: 4px;
}

.cartSlider-details {
  flex: 1;               
  /* take remaining space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items:flex-start;
  
}

.cartSlider-details p {
  margin: 0 ;
  font-size: 14px;
  white-space: nowrap;        /* keep in single line*/
  overflow: hidden;
  text-overflow: ellipsis;   
  max-width: 95%;     
}
.cartSlider-price {
  font-weight: bold;
  color: chocolate;
  margin-top: 4px;
}

.cartSlider-RemoveLink {
  display: flex;
  align-items: center;
  gap: 5px;
  /* padding: 1px 12px; */
}

.cartSlider-button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: rgb(182, 178, 183);
  padding: 1px 5px;
  border-radius: 4px;
  font-size: 14px;
}

.cartSlider-button button {
  background:none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 5px 10px;
}

.remove-Btn {
  color: rgb(237, 4, 51);
  font-size: 14px;
  cursor: pointer;
  margin-left: 12px;
}



/* DropDown */
.dropdown {
  position: relative;
  display:flex;
  align-items: center;
  
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left:50%;
  transform: translateX(-50%); 
  background:  rgb(121, 86, 121);
  min-width: 200px;
  z-index: 100;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-content .tab-link {
  padding: 5px;
  color: #1e1c1c;
  text-decoration: none;
}

.dropdown-content .tab-link:hover {
  /* background: #e0dae4; */
  color:#fcfafa;
}


