.main-content{
  flex: 1;
  /* push the footer down, keeping it always after all content. */
  padding-top: 30px;
  padding-bottom: 60px;
  overflow-x: hidden;
}




.tab-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(121, 86, 121);
  padding: 12px 24px;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Flex wrapper to separate links and logout */
.tab-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


/* keep left links inline */
.tab-left {
  display: flex;
  gap: 12px;
  margin :0  auto;
  /* margin-left: 35rem; */
  /* justify-content: center;
  flex: 1; */
}

/* aligned logout right */
.tab-right {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.logout-btn {
  font-weight: bold;
  color: #ffcccc;
  padding: 10px 16px;
  border-radius: 6px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}



.tab-link {
  text-decoration: none;
  color: #0d0d0d;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 6px;
  /* flex: 1; */
  /* text-align: center; */
}

.tab-link.active {
  background-color: #5c93c9;
  color: white;
}

.tab-content {
  margin-top: 60px;
  padding-top: 60px;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;  

}

.tab-link:hover {
  color: rgb(239, 174, 9);
} 

.tab-boxContent {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin: auto;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.tab-page:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: rgb(177, 78, 78);
  background-color: rgb(180, 208, 245);
}
   

.nav-header {
  color: rgb(36, 16, 16);
  font-size: 24px;
  font-weight: bold;
  margin:15px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

/* .footer {
  text-align: center;
  padding: 16px;
  background: rgb(196, 175, 196); 
  color: #080808;
  position: relative; 
  left: 0;
  bottom: 0;
  right:0
   width: 100%; 
  font-size: 14px; 

} */

.footer {
  text-align: center;
  padding: 16px;
  background: rgb(121, 86, 121);
  color: #080808;
  /* position: fixed;  */
  left: 0;
  bottom: 0;
  right:0;
  /* width: 100%;  */
  font-size: 15px; 
  max-width: 2500px;

}


.footer-container{
    margin: -2.05rem;
    /* padding: 30px; */
}
 /* Container for product cards */
.product-alignment {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding:30px;

}

/* Individual product card */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 220px;
  min-height: 290px; /* consistent height */
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #efebef;
}

/* Product image */
.product-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

/* Title */
.product-card h4 {
  font-size: 14px;
  margin: 15px 0;
  flex-grow: 1; /* push button to bottom if title is short */
}

/* Price */
.product-card p {
  margin: 8px 0;
  font-size: 16px;
  color:chocolate;
}

/* Button */
.product-card button {
  margin: 8px;
  padding: 10px 10px;
  background-color:  rgb(93, 45, 106) ;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.product-card button:hover {
  background-color: rgb(121, 86, 121);
}

.totalAmount {
  margin: 8px 0;
  font-size: 16px;
  color:chocolate;
}

/* CartPage */
.cart-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center; 
  padding: 30px;
  width: 100%;
}

.cart-item {
  display: flex;
  width: 100vh;
  min-height: 100px;
  padding: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fdfdfd;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 0 auto;
}

.total-Amount {
  font-size: 14px;
  margin: 10px 0;
}

.cart-item a {
  padding: 8px 12px;
  background-color: rgb(93, 45, 106);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
